<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원 목록</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${user.name}"></td>
                <td th:text="${user.id}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
